@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
@import './colours';
@import './card';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-color: $Paleblue;
  height: 100vh;
}

@media only screen and (max-width: 375px) {
  body {
    background-image: url('../images/pattern-background-mobile.svg');
  }
  
}
